@model ResetPasswordVM

@{
    Layout = "_AccountLayer.cshtml";
}

<div class="space-y-5">
    <div class="space-y-3 w-80">
        <h1 class="font-poppins font-bold text-2xl">Confirm New Password</h1>
    </div>

    <div class="space-y-3">
        <form method="post" class="space-y-4">
            <div class="block space-y-2 w-full">
                <label asp-for="@Model.Email" class="text-black text-base font-semibold block"></label>
                <input asp-for="@Model.Email"
                    class="border-2 block outline-none  bg-slate-200 p-2 h-12 focus:border-blue-400 rounded-md focus:bg-white" />
            </div>

            <div class="block space-y-2 w-full">
                <label asp-for="@Model.Password" class="text-black text-base font-semibold block"></label>
                <input asp-for="@Model.Password"
                    class="border-2 block outline-none bg-slate-200 p-2 h-12 focus:border-blue-400 rounded-md focus:bg-white" />
            </div>
            <div class="block space-y-2 w-full">
                <label asp-for="@Model.ConfirmPassword" class="text-black text-base font-semibold block"></label>
                <input asp-for="@Model.ConfirmPassword"
                    class="border-2 block outline-none  bg-slate-200 p-2 h-12 focus:border-blue-400 rounded-md focus:bg-white" />
            </div>

            <div class="text-center h-12 bg-blue-600 w-[150px] rounded-md cursor-pointer">
                <input type="submit" value="submit"
                    class="text-white w-full h-full cursor-pointer text-sm font-semibold" />
            </div>
            <div>
                <p class="text-base font-normal">Don't have an account? <a asp-controller="Account"
                        asp-action="Register" class="text-blue-700">Sign Up</a></p>
            </div>
        </form>
    </div>

</div>